h1{
    color: blue;
    text-transform: uppercase;
    font-size: 40px;

}
.bloc{
    width:100% ;
    height: 500px ;
    color: yellow;
    background: url('../background.JPG') no-repeat center ;
    background-size: cover;
}

nav{
    background: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    font-size: 20px;
    margin: 20px;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
}